html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, a, img, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
html, body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 18px;
	line-height: 1.8em;
    vertical-align: top;
    background-color: #f0f0f0;
    text-align: center;
}
a{
	color: #009;
}
.btn{
	background-color: #3194fe;
	color: #fff;
	border-radius: 20px;
	padding: 5px 20px;
	text-decoration: none;
}



#top_menu{
	height: 70px;
	margin: 0 auto;
	text-align: right;
	background-color:#fff;
	padding: 20px 40px 0px 50px;
	position: relative;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
#top_menu a{
	margin-right: 40px;
	color: #333;
	font-weight: bold;
}
#top_menu a#home_link{
	position: absolute;
	top: 5px;
	left: 50px;
}

#index_list{
	width: 80%;
	margin: 50px auto;
}

.index_block{
	width: 350px;
	height: 450px;
	display: inline-block;
	padding: 10px 0;
	margin: 20px;
	border: 1px solid #ddd;
	border-radius: 10px;
	background-color: #fff;
	vertical-align: top;
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.1);
}
.index_block_title{
	font-size: 20px;
	font-weight: bold;
	background-color: #eee;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.index_block_text{
	padding: 0 10px 10px 10px;
}
.index_more_info{
	padding-right: 10px;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
}





/*========================================= Л И Ч Н Ы Й   К А Б И Н Е Т ==========================*/

#lk_top_menu{
	margin: 0 auto;
	clear: both;
	text-align: right;
	background-color:#fff;
	padding: 20px 0px 0px 0px;
	position: relative;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
#lk_top_menu a{
	color: #333;
	font-weight: bold;
}
#lk_top_menu a#lk_home_link{
	position: absolute;
	top: 5px;
	left: 50px;
}
#lk_top_menu a#lk_setup_link{
	position: absolute;
	top: 15px;
	right: 50px;
}

#device_list{
	margin: 0 auto 10px auto;
	width: 60%;
	text-align: center;
}
#device_list span{
	margin-right: 40px;
	color: #333;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
	color: #009;
}




.device_index {
    width: 90%;
    max-width: 1600px;
    margin: 20px auto 50px auto;
    background-color: #fff;
	border-radius: 10px;
	border: 1px solid #ddd;
}
.device_index h3{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
}



.controller_info{
	display: inline-block;
	margin: 50px 0 20px 0;
	padding: 15px;
	border: 1px solid #ddd;
	border-radius: 10px;
	background-color: #fff;
	color: #333;
}
.info_title{
	font-weight: bold;
	font-size: 24px;
	margin-right: 50px;
}
.info_data{
	margin-left: 30px;
	font-size: 14px;
}
.info_data span{
	font-weight: bold;
	font-size: 16px;
}




table.controller_table{
	border-collapse: collapse;
	margin: 0px auto 50px auto;
	cursor: pointer;
}
table.controller_table td{
	padding: 5px 20px;
	line-height: 14px;
	color: #555;
	font-weight: bold;
}
table.controller_table td.top{
	font-weight: normal;
	font-size: 14px;
	border-bottom: 1px solid #eee;
}


















.sensor_data_chart{
	width: 49%;
	display: inline-block;
}
.lk_sensor_graf {
	padding: 0px 20px 20px 20px;


}
