html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, a, img, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
html, body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 1.8em;
    vertical-align: top;
    background-color: #fff;
    text-align: center;
    color: #333;
    position: relative;
}
a{
	color: #333;
}
.btn{
	background-color: #3194fe;
	color: #fff;
	border-radius: 5px;
	border: 1px solid #999;
	padding: 5px 20px;
	text-decoration: none;
	margin-right: 20px;
	cursor: pointer;
	font-size: 16px;
}
.btn.cancel{
	background-color: #777;
}
.btn.delete{
	background-color: #c77;
	margin-top: 50px;
}
.btn.pending{
	background-color: #ccc;
}

/* input:not([type='submit']) */



option{
	display: inline-block;
}
input, select, option{
	border: none;
	border-bottom: 1px solid #ccc;
	padding: 5px 20px 0px 20px;
	margin: 10px 0 0 0;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}
input.btn[type="button"][disabled]{
	color: #83befe;
}

.border{
	border: 1px solid #eee;
	padding: 10px 10px 0px 10px;
	border-radius: 10px;
	display: inline-block;
	margin: 0px 30px 0px 30px;
	vertical-align: text-top;
}
.right{
	text-align: right;
}


















#device_list{
	width: 100%;
	padding: 15px 15px 5px 70px;
	margin-bottom: 20px;
	background-color: #eee;
	text-align: center;
	font-size: 16px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	min-height: 60px;
}
#logo{
	position: fixed;
	top:5px;
	left: 20px;
	margin-right: 15px;
}
#device_list a{
	font-size: 18px;
	display: inline-block;
	margin: 0 20px 7px 0;
	padding: 5px 15px ;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #ccc;
	text-decoration: none;
	cursor: pointer;
	line-height: 16px;
	color:#000;
}
#device_list a.timeout{
	background-color: #eee;
	color: #955;
}
#device_list a.router-link-active{
	border-color: #000;
	font-weight: bold;
}
#device_list a#add_device{
	float: right;
	margin: 7px 10px 0 10px;
	font-size: 36px;
	padding: 0px 0px;
	background-color: #eee;
	border: none;
	color: #777;
}








/* ==================================== L O G I N =======================================*/

#wrap{
	display: table;
	border-collapse: collapse;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	background-color: #ddd;
}

#login_form{
	display: inline-block;
	width: 500px;
	margin: 100px auto;
	padding: 10px 0;
	text-align: center;
	border: 1px solid #ddd;
	border-radius: 10px;
	vertical-align: top;
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.1);
	background-color: #fff;
	position: relative;
}
#login_form img{
	position: absolute;
	top: 15px;
	left: 15px;
}

input#login_input, input#password_input{
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px 20px;
	margin-bottom: 20px;
}

input#login_btn{
	font-size: 18px;
	margin-bottom: 50px;
}











/*========================================= Л И Ч Н Ы Й   К А Б И Н Е Т ==========================*/



.device_index {
    width: 90%;
    max-width: 1600px;
    margin: 0px auto 50px auto;
    padding-bottom: 100px;
    background-color: #fff;
	border-radius: 10px;
	text-align: center;
}
.device_index h3{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
}


#loader{
	width: 300px;
	margin: 100px auto;
}

#right_menu{
	width: 50px;
	position: absolute;
	right: 10px;
}
#right_menu img{
	cursor: pointer;
	margin-bottom: 10px;
}







.controller_info{
	padding: 0px 30px 10px 30px;
	color: #333;
	text-align: left;
	line-height: 24px;
	width: 200px;
	position: absolute;
}
.info_title{
	font-weight: bold;
	font-size: 24px;
}
.info_data{
	font-size: 12px;
	color: #777;
}
.info_data span{
	font-weight: bold;
}




table.controller_table{
	border-collapse: collapse;
	margin: 0 auto;
	font-size: 20px;
	line-height: 18px;
	color: #777;
}
table.controller_table th{
	padding: 0px 30px;
	font-weight: normal;
	font-size: 14px;
	color: #777;
	border-bottom: 1px solid #ccc;
}
table.controller_table td{
	padding: 10px 30px 0px 30px;
	font-weight: bold;
}
table.controller_table td.schedule_day, table.controller_table td span.current_data{
	color: #333;
}
table.controller_table td span.current_time{
	font-size: 10px;
	font-weight: normal;
}

table.controller_table td span.current_time.timeout{
	display: inline-block;
	background: url(/images/flashing.gif);
	color: #faffb2;
	padding: 3px 10px;
	line-height: 10px;
}



table.controller_table td span.schedule_data{
	font-size: 12px;
	font-weight: normal;
	margin-left: 5px;
}
table.controller_table td#schedule a{
	color: #777;
	text-decoration: underline;
	font-weight: normal;
	font-size: 14px
}
table.controller_table td#schedule a:hover{
	color: #333;
}
table.controller_table td#schedule_start{
	font-weight: normal;
}


















#charts_button{
	display: inline-block;
	margin-right: 30px;
	font-size: 12px;
	line-height: 12px;
	background-color: #eee;
	border-radius: 5px;
	border: 1px solid #ddd;
	padding: 5px 20px;
	cursor: pointer;
	color: #333;
}

.lk_sensor_graf {
	padding: 0px 20px 20px 20px;

	height: 250px;
}

.lk_switch_graf {
	padding: 0px 20px 20px 20px;

	height: 100px;
}








table#timers{
	margin: 0px auto;
	border-collapse: collapse;
	cursor: default;
}
table#timers th{
	border-bottom: 1px solid #ddd;
	font-weight: bold;
}
table#timers td{
	border-top: 1px solid #ddd;
	padding: 5px 50px;
	vertical-align: middle;
}
table#timers td img{
	vertical-align: middle;
}
table#timers td span.set_time{
	width: 50px;
	font-size: 12px;
	color: #777;
	display: inline-block;
}
table#timers td span.clock_time{
}

table#timers tr.timer span.tooltip{
	display: none;
}
table#timers tr.timer:hover span.tooltip{
	display: block;
	font-size: 12px;
	color: #000;
	background-color: #ffffdd;
	padding: 10px 20px;
	position: absolute;
	border :1px solid #ccc;
}



table#timers th.report, table#timers td.report{
	padding: 5px 10px ;
	line-height: 10px;
}





table#log{
	margin: 20px auto;
	border: 1px solid #ddd;
	border-radius: 10px;
}
table#log th{
	border-bottom: 1px solid #ddd;
	font-weight: bold;
}
table#log td{
	border-bottom: 1px solid #ddd;
	padding: 0 30px;
}
table#log td.txt{
	text-align: left;

}
table#log td.server_tstamp, table#log td.device_tstamp {
	color: #777;
}



table#timers_log{
	border-collapse: collapse;
}
table#timers_log th{
	padding: 0px 20px;
	font-weight: bold;
	text-align: center;
	line-height: 1em;
	vertical-align: top;
}
table#timers_log td{
	border-top: 1px solid #ddd;
	padding: 5px 20px;
	text-align: left;
	vertical-align: middle;
}
table#timers_log th span, table#timers_log td span, table#timers_log td.comment, table#timers_log td.date{
	font-size: 12px;
	font-weight: normal;
	color: #999;
}


table#timers_log td.status span.on{
	font-size: 16px;
	color: #070;
	margin-right: 7px;
}
table#timers_log td.status span.off{
	font-size: 12px;
	color: #555;
	margin-right: 7px;
}
table#timers_log td.status span.reverse{
	font-size: 16px;
	color: #000;
	margin-right: 7px;
}
table#timers_log td.status span.connection{
	font-size: 14px;
	color: #009;
}












table#climat_informer{
	margin: 0px auto;
	border-collapse: collapse;
}
table#climat_informer th{
	border-bottom: 1px solid #ddd;
	font-weight: bold;
	padding: 0px 50px;
}
table#climat_informer td{
	padding: 0px 50px;
}
table#climat_informer td.current_time{
	padding: 5px 50px;
	font-size: 10px;
	font-weight: normal;
	line-height: 10px;
	color: #777;
}

table#climat_informer td.current_time span.timeout{
	display: inline-block;
	background: url(/images/flashing.gif);
	color: #faffb2;
	padding: 3px 10px;
	line-height: 10px;
}

















/*========================================= S E T T I N G S ==========================*/



#device_settings {
	display: inline-block;
	width: 90%;
	text-align: center;
	padding-bottom: 100px;
	margin: 0 auto;
}

#device_setup{
	display: inline-block;
	vertical-align: top;
	margin: 0 20px 30px auto;
	padding: 0;
	text-align: center;
	line-height: 12px;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 0 20px 30px 20px;
}
#function_setup{
	display: inline-block;
	vertical-align: top;
	margin: 0px 20px 30px 0;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 0 0px 20px 0px;

}
#buttons_setup{
	display: inline-block;
	vertical-align: top;
	width: 220px;
	margin: 0px auto 0 0;
}



#device_setup .title{
	text-align: center;
	line-height: 12px;
	font-size: 12px;
}
#device_setup .title span, #device_setup .prop span.title{
	font-size: 12px;
	color: #777;
}

#device_code{
	margin-top: 20px;
	font-weight: bold;
	color: #777;
	line-height: 12px;
	font-size: 18px;
}
#device_code span{
	font-weight: normal;
	color: #777;
	font-size: 12px;
}




#device_setup .device_props{
	line-height: 12px;
}
#device_setup .device_props input{
	width: 200px;
	margin: 30px 0 0 0;
	padding: 0;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #ccc;
	color: #000;
	text-align: center;
}
#device_setup select{
	margin: 30px 0 0 0;
	padding: 0 5px;
	width: 200px;
	text-align: center;
}
#device_setup option{
	text-align: center;
}

#buttons_setup input.btn{
	width: 180px;
	margin: 0 0 30px 0;
}
#buttons_setup input.delete{
	margin-top: 20px;
	font-size: 14px;
}




table#device_sensor_setup, table#device_switches_setup{
    border-collapse: collapse;
    margin: 10px auto 30px auto;
}
table#device_sensor_setup th, table#device_switches_setup th{
    border: none;
    line-height: 14px;
    color: #777;
    font-size: 14px;
    padding: 5px 10px;
    text-align: center;
    border-bottom: 1px solid #eee;
}
table#device_sensor_setup td, table#device_switches_setup td{
    border: none;
    line-height: 14px;
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
}

table#device_sensor_setup input, table#device_switches_setup input{
    margin: 0;
}

table#device_sensor_setup tr.sensor_type td{
    padding: 3px 0;
    font-size: 12px;
    color: #777;
    background-color: #eee;
}

table#device_sensor_setup tr.sensor td.graph_title{
    padding: 10px 15px;
}
table#device_sensor_setup tr.sensor td.graph_title input{
    width: 200px;
}
table#device_sensor_setup tr.sensor td.correction{
    padding: 10px 15px;
}
table#device_sensor_setup tr.sensor td.correction input{
    width: 50px;
}


















#feeder_timers{
	margin: 0px auto 50px auto;
}
#feeder_timers .title{
	font-weight: bold;
	font-size: 18px;
	color: #333;
}
table#timers_setup{
	border-collapse: collapse;
	margin: 0px auto;
}
table#timers_setup th{
	border-bottom: 1px solid #eee;
	padding: 5px 20px 0 20px;
	vertical-align: middle;
}
table#timers_setup th.add_timer{
	padding-bottom: 5px;
	line-height: 10px;
}
table#timers_setup th.add_timer img{
	width: 30px;
	cursor: pointer;
}
table#timers_setup td{
	border: none;
	padding: 5px 20px;
	vertical-align: top;
	font-size: 18px;
}
table#timers_setup input{
	width: 35px;
	margin: 0;
	font-size: 18px;
}
table#timers_setup input[type='number'] {
	padding-right: 3px;
}
table#timers_setup input[type='search'] {
	display: none;
}
table#timers_setup input.time_input {
	display: inline-block;
}
table#timers_setup img{
	cursor: pointer;
}
#feeder_timers button{
	cursor: pointer;
}

table#timers_setup div.v-select{
	display: inline-block;
	cursor: pointer;
	margin-right: 10px;
	vertical-align: middle;
}
table#timers_setup div.vs__dropdown-toggle{
	border: none;
}
table#timers_setup div.vs__actions{
	display: none;
}
table#timers_setup ul.vs__dropdown-menu{
	width: 50px;
	min-width: 40px;
	margin: 0;
	left: -20px;
}
table#timers_setup li{
	padding: 10px 5px 0px 10px;

}
table#timers_setup div.time_input{
	display: inline-block;
	font-weight: bold;
}
table#timers_setup div.time_input input{
	padding: 0px 5px;
}
table#timers_setup div.time_input input#hours{
	text-align: right;
}
table#timers_setup div.time_input input#minutes{
	text-align: left;
}
table#timers_setup div.time_input select{
	width: 50px;
	padding: 0px 5px;
}




table#timers_setup td input.error{
	background-color: #fde7e8;
	border-color: #f3424d;
}





















/* ==================================    Т А Б Л И Ц Ы  ========================================*/




#settings_schedules{
	margin: 0px auto;
	width: 1000px;
}



#new_schedule_button{
	cursor: pointer;
	margin: 30px 0 0 0;
}


#settings_schedules .schedule{
	text-align: left;
	cursor: pointer;
	font-weight: bold;
	text-decoration: underline;
	color: #333;
	margin: 10px 0;
	font-size: 18px;
}
#settings_schedules .schedule span{
	color: #777;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
}

table#settings_schedules_table{
	width: 100%;
	margin: 0 auto;
}

td#schedules_index{
	width: 30%;
	padding: 10px 20px;
	text-align: left;
}

td#active_schedule{
	width: 70%;
	padding:  10px 20px;
	border: 1px solid #ddd;
	border-radius: 10px;
	text-align: left;
}

td#active_schedule span{
	display: inline-block;
	width: 250px;
	text-align: right;
	padding-right: 10px;
	font-size: 14px;
	color: #777;
}

td#active_schedule input#new_schedule_title{
	width: 250px;
	font-weight: bold;
	text-align: left;
}

td#active_schedule input#new_schedule_days{
	width: 20px;
	font-weight: bold;
	text-align: center;
}
td#active_schedule input#ok_days{
	padding: 5px 7px;
	margin-left: 10px;
}


table#schedule_days{
	margin: 30px auto;
	border-collapse: collapse;
	text-align: center;
	border: 1px solid #eee;
	padding-bottom: 10px;
}

table#schedule_days th{
	font-size: 14px;
	line-height: 14px;
	color: #777;
	padding: 10px 10px 0px 10px;
}

table#schedule_days tr.deltas td{
	padding: 3px 20px;
	color: #777;
}
table#schedule_days tr.deltas input{
	font-size: 14px;
	color: #333;
	padding: 2px 2px 2px 0px;
	border-bottom: 1px solid #eee;
}

table#schedule_days td{
	line-height: 14px;
	padding: 1px 20px;
	border-bottom: 1px solid #eee;
}
table#schedule_days td.copy_row{
	line-height: 14px;
	padding: 0px;
	vertical-align: middle;
	cursor: pointer;
}
table#schedule_days td.copy_row img{
	display: none;
}
table#schedule_days td.copy_row:hover img{
	display: block;
}

table#schedule_days input{
	padding: 2px 5px;
	margin: 0;
	border: 1px solid #eee;
	font-size: 18px;
	font-weight: bold;
	width: 30px;
	text-align: center;
}
table#schedule_days input.time_input{
	width: 60px;
}
table#schedule_days input.param_delta{
	font-weight: normal;
	color: #777;
}

#settings_schedules #btns{
	text-align: center;
	margin-top: 50px;
}




/* =======================  S E T T I N G S   P R O F I L E  ===================================*/

#settings_profile{
	display: inline-block;
	vertical-align: top;
}

#settings_profile span.note{
	color: #777;
}



#button_save,  #margin_block{
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 200px;
	height: 100px;
	margin-top: 20px;
}



table#setting_login{
	margin: 0px auto 50px auto;
	text-align: center;
	padding-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 20px;
}
table#setting_login th{
	font-size: 12px;
	line-height: 14px;
	color: #999;
	padding: 0px 20px;
}
table#setting_login td{
	padding: 5px  15px  0px 15px;
}
table#setting_login td.email{
	font-weight: bold;
}

#timezone, #location{
	margin: 0 auto 50px auto;
	width: 400px;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 30px 50px 20px 50px;
	line-height: 14px;
	font-size: 18px;
}

#settings_link{
	display: inline-block;
	margin: 0 auto 50px auto;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 30px 50px 20px 50px;
	line-height: 14px;
	font-size: 18px;
}

#settings_link a{
	display: inline-block;
	padding: 0 0 4px 0;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	color: #009;
	border-bottom: 2px solid #009;
}

#settings_link span.subnote{
	font-size: 12px;
	font-style: italic;
	color: #aaa;
}


#settings_link input#input_link_nickname{
	width: 150px;
	font-weight: bold;
	font-size: 18px;
	border-radius: 0px;
	border: none;
	border-bottom: 2px solid #333;
	padding: 0;
	text-align: left;
	color: #333;
	margin: 0 20px 0px 0;
	padding-left: 5px;
}

#settings_profile input.error, #settings_link input#input_link_nickname.error{
	border: 1px solid #f77;
	background: #fdd;
}





table#setting_link_devices{
	margin: 30px auto;
	text-align: center;
	border-collapse: collapse;
}
table#setting_link_devices th{
	font-size: 12px;
	line-height: 12px;
	color: #777;
	padding: 5px 20px;
	border-bottom: 1px solid #ccc;
	vertical-align: bottom;
}
table#setting_link_devices td{
	padding: 5px 0;
	border-bottom: 1px solid #eee;
}
table#setting_link_devices td.device{
	text-align: left;
	padding-left: 10px;
}


