html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, a, img, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
html, body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 1.8em;
    vertical-align: top;
    background-color: #f0f0f0;
    text-align: center;
    color: #333;
}
a{
	color: #333;
}
.btn{
	background-color: #3194fe;
	color: #fff;
	border-radius: 7px;
	border: 1px solid #fff;
	padding: 5px 20px;
	text-decoration: none;
	margin-right: 20px;
	cursor: pointer;
	font-size: 16px;
}
.btn.cancel{
	background-color: #999;
}
.btn.delete{
	background-color: #c55;
	margin-top: 50px;
}




option{
	display: inline-block;
}
input, select, option{
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px 20px;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}





table#top_menu{
	margin: 0;
	padding: 0;
	width: 100%;
	background-color:#fff;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
table#top_menu td{
	padding: 0;
	vertical-align: top;
}
table#top_menu td#logo{
	width:250px;
	padding-left: 50px;
	text-align: left;
}
table#top_menu td#device_list{
	text-align: center;
	padding-top: 15px;
	font-size: 18px;
}
table#top_menu td#device_list a{
	margin-right: 30px;
	font-weight: bold;
	background-color: #eee;
	border-radius: 5px;
	border: 1px solid #ddd;
	padding: 5px 20px;
	text-decoration: none;
	cursor: pointer;
}

table#top_menu td#menu_links{
	width:250px;
	padding: 15px 20px 0 0;
	text-align: right;
}
table#top_menu td#menu_links a{
	color: #333;
	margin-right: 30px;
}


/* ==================================== L O G I N =======================================*/

#login_form{
	display: inline-block;
	width: 500px;
	height: 300px;
	margin: 100px auto;
	padding: 10px 0;
	text-align: center;
	border: 1px solid #ddd;
	border-radius: 10px;
	vertical-align: top;
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.1);
	background-color: #fff;
}

input#login_input, input#password_input{
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px 20px;
	margin-bottom: 20px;
}

input#login_btn{
	font-size: 18px;
}











/*========================================= Л И Ч Н Ы Й   К А Б И Н Е Т ==========================*/



.device_index {
	position: relative;
    width: 90%;
    max-width: 1600px;
    margin: 20px auto 50px auto;
    background-color: #fff;
	border-radius: 10px;
	border: 1px solid #ddd;
}
.device_index h3{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
}



.controller_info{
	padding: 30px 30px 10px 30px;
	color: #333;
	text-align: left;
	line-height: 24px;
	width: 200px;
	position: absolute;
}
.info_title{
	font-weight: bold;
	font-size: 24px;
}
.info_data{
	font-size: 12px;
	color: #777;
}
.info_data span{
	font-weight: bold;
}




table.controller_table{
	border-collapse: collapse;
	margin: 20px auto;
	font-size: 20px;
	line-height: 18px;
	color: #777;
}
table.controller_table th{
	padding: 0px 30px;
	font-weight: normal;
	font-size: 14px;
	color: #777;
	border-bottom: 1px solid #ccc;
}
table.controller_table td{
	padding: 10px 30px;
	font-weight: bold;
}
table.controller_table td.schedule_day, table.controller_table td span.current_data{
	color: #333;
}
table.controller_table td span.current_time{
	font-size: 10px;
	font-weight: normal;
	display: none;
}

.timeout{
	display: inline-block;
	background: url(/images/flashing.gif);
	color: #faffb2;
	padding: 3px 10px;
	line-height: 10px;
}



table.controller_table td span.schedule_data{
	font-size: 14px;
	font-weight: normal;
	margin-left: 10px;
}
table.controller_table td#schedule a{
	color: #777;
	text-decoration: underline;
	font-weight: normal;
	font-size: 14px
}
table.controller_table td#schedule a:hover{
	color: #333;
}
table.controller_table td#schedule_start{
	font-weight: normal;
}



















.sensor_data_chart{

}
.lk_sensor_graf {
	padding: 0px 20px 20px 20px;


}








/*========================================= S E T T I N G S ==========================*/



.settings_index {
    width: 900px;
    max-width: 1600px;
    margin: 20px auto 50px auto;
    background-color: #fff;
	border-radius: 10px;
	border: 1px solid #ddd;
	min-height: 300px;
	padding: 20px;
}






.settings_menu a{
	margin: 0 20px;
	color: #333;
}

.settings_devices{
	margin: 30px auto;

}








table#settings_devices_table{
	width: 90%;
	margin: 0 auto;
}
table#settings_devices_table td{
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 10px;
	text-align: left;
	vertical-align: top;
	line-height: 1em;
}

table#settings_devices_table td.title{
	width: 150px;
	font-weight: bold;
	cursor: pointer;
}
table#settings_devices_table td.title .device_title{
	margin-top: 10px;
	color: #009;
	text-decoration: underline;
}
table#settings_devices_table td.title .device_type{
	color: #999;
	text-decoration: none;
	margin-bottom: 20px;
	font-size: 12px;
	font-weight: normal;
}





.settings{
	text-align: center;
	font-size: 12px;
	color: #777;
}
.settings .title input{
	width: 300px;
	margin-bottom: 20px;
}
.settings .prop input{
	width: 200px;
	padding: 5px;
	margin-bottom: 20px;
}

table#device_sensor_setup{
	border-collapse: collapse;
	margin: 50px auto;
	border-bottom: 1px solid #eee;
}
table#device_sensor_setup th{
	border: none;
	line-height: 14px;
	padding: 5px 0;
	text-align: center;
	border-bottom: 1px solid #eee;
}
table#device_sensor_setup td{
	border: none;
	line-height: 14px;
	padding: 10px 5px;
	text-align: center;
	font-size: 16px;
	vertical-align: middle;
}

table#device_sensor_setup input{
	margin: 0;
}








.add_device{
	text-align: center;
	font-size: 12px;
	color: #777;
}
.add_device input{
	margin-right: 0;
}





/* input:not([type='submit']) */












/* ==================================    Т А Б Л И Ц Ы  ========================================*/




#settings_schedules{
	margin-top: 30px;
}

#new_schedule_button{
	margin-bottom: 20px;
}
#settings_schedules .schedule{
	text-align: left;
	cursor: pointer;
	font-weight: bold;
	text-decoration: underline;
	color: #009;
	margin: 10px 0;
}
#settings_schedules .schedule span{
	color: #777;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
}

table#settings_schedules_table{
	width: 90%;
	margin: 0 auto;
}

td#schedules_index{
	width: 30%;
	padding: 10px 20px;
	border: 1px solid #ddd;
	border-radius: 10px;

}

td#active_schedule{
	width: 70%;
	padding:  10px 20px;
	border: 1px solid #ddd;
	border-radius: 10px;
	text-align: left;
}

td#active_schedule span{
	display: inline-block;
	width: 180px;
	text-align: right;
	padding-right: 10px;
	font-size: 14px;
	color: #777;
}

td#active_schedule input#new_schedule_title{
	width: 250px;
	font-weight: bold;
	text-align: left;
}

td#active_schedule input#new_schedule_days{
	width: 20px;
	font-weight: bold;
	text-align: center;
}
td#active_schedule input#ok_days{
	padding: 5px 7px;
	margin-left: 10px;
}


table#schedule_days{
	margin: 30px auto;
	border-collapse: collapse;
	text-align: center;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}
table#schedule_days th{
	font-size: 14px;
	line-height: 14px;
	color: #777;
	border-bottom: 1px solid #eee;
	padding: 0px 20px 10px 20px;
}
table#schedule_days td{
	padding: 5px 20px;
}

table#schedule_days input{
	margin: 0;
	border: 1px solid #eee;
	font-size: 18px;
	font-weight: bold;
	width: 30px;
	text-align: center;
	padding: 5px;
}
table#schedule_days input.param_delta{
	font-weight: normal;
	color: #777;
}

#settings_schedules #btns{
	text-align: center;
	margin-top: 50px;
}







